[Unit]
Description=Portfolio Frontend (Next.js)
Documentation=https://nextjs.org/docs
After=network.target

[Service]
Type=simple
User=serkanursavas
WorkingDirectory=/home/serkanursavas/projects/portfolio-v2
Environment=NODE_ENV=production
Environment=NEXT_PUBLIC_API_URL=https://serkanursavas.me
ExecStart=/usr/bin/npm run start
Restart=always
RestartSec=10

# Logging
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=portfolio-frontend

# Security
NoNewPrivileges=yes
ProtectHome=yes
ProtectSystem=strict
ReadWritePaths=/home/serkanursavas/projects/portfolio-v2

[Install]
WantedBy=multi-user.target